html {
    font-size: 62.5%;
}

body {
    margin: 0;

    background-color: #F0F0F0;

    font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    color: #646464;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    z-index: 2;

    background-color: #FFF;

    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#navbar a {
    color: #FF1133;
    text-decoration: none;
    margin-left: 20px;

    font-size: 16px;
    font-weight: bold;
}

.task-group {
    margin-top: 20px;
    border-top: 1px solid white;
    padding: 25px;

    background-color: #FDFDFD;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.task-group h2 {
    color: #FF1133;
}

.task-group .task-list {
    list-style-type: none;

    margin: 0;
    padding: 0;
}

.task-group .task-list .task {
    border-bottom: 1px solid #EEE;
}

.task-group .task-list .task .description {
    background-color: #EEE;
    padding: 16px;
    position: relative;
    left: 2.8em;
    margin-right: 5em;
}

.task-group .task-list .task .title {
    font-weight: bold;
    position: relative;

    left: .5em;
}

.task-group ul {
    list-style-type: none;
}

div.inline {
    display: inline-block;
}

button {
    background-color: transparent;
    border: 0;
}

button.height {
    line-height: 2.5em;
    position: relative;
    top: -1em;
    /*height: 0em;*/
    /*margin-bottom: -5em;*/

}

li.nopadding {
    position: relative;
    left: -1.5em;
}

.teacher-name {
    position: relative;

    left: .5em;
}

@media screen and (max-width: 240px) {

    #timeline {
        position: relative;

        display: table;
        margin: 0 auto;

        width: 230px;
    }
}

@media screen and (max-width: 320px) {

    #timeline {
        position: relative;

        display: table;
        margin: 0 auto;

        width: 310px;
    }
}

@media screen and (min-width: 768px) {

    #timeline {
        position: relative;

        display: table;
        margin: 0 auto;

        width: 758px;
    }
}